body {
  font-family: "GothaProReg", sans-serif;
  color: #ffffff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 100vh; }

a {
  text-decoration: none;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease; }

button, input, a {
  outline: none; }

.header {
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 10; }
  @media (max-width: 991px) {
    .header {
      padding: 50px 30px; } }
  @media (max-width: 767px) {
    .header {
      padding: 30px 15px; } }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 991px) {
      .header-menu {
        display: none; } }
    @media (max-width: 1370px) {
      .header-menu {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .header-menu__item {
      padding: 3px 8px;
      color: #ffffff;
      font-family: "GothaProBol", sans-serif;
      font-size: 16px; }
      @media (min-width: 992px) {
        .header-menu__item:hover {
          cursor: pointer;
          color: #003073;
          background-color: #ffffff;
          border-radius: 4px; } }
    .header-menu_mobile {
      display: none;
      width: 60px;
      height: 45px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      z-index: 11; }
      .header-menu_mobile span, .header-menu_mobile::after, .header-menu_mobile::before {
        width: 100%;
        height: 9px;
        display: block;
        background-color: #ffffff;
        content: ''; }
      @media (max-width: 767px) {
        .header-menu_mobile {
          width: 23px;
          height: 20px; }
          .header-menu_mobile span, .header-menu_mobile::after, .header-menu_mobile::before {
            height: 4px; } }
      @media (max-width: 991px) {
        .header-menu_mobile {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
  .header-contacts {
    text-align: center; }
    @media (max-width: 991px) {
      .header-contacts {
        display: none; } }
    .header-contacts__phone {
      margin-bottom: 5px;
      padding: 5px;
      display: block;
      color: #ffffff;
      font-family: "GothaProBol", sans-serif;
      font-size: 24px; }
      @media (min-width: 992px) {
        .header-contacts__phone:hover {
          cursor: pointer;
          color: #003073;
          background-color: #ffffff;
          border-radius: 4px; } }
      @media (max-width: 1199px) {
        .header-contacts__phone {
          font-size: 22px; } }
    .header-contacts__btn {
      width: 284px;
      height: 30px;
      border-radius: 4px;
      background-color: #ffffff;
      display: block;
      color: #003073;
      font-family: "GothaProBol", sans-serif;
      font-size: 14px;
      line-height: 30px;
      border: 1px solid transparent; }
      @media (min-width: 992px) {
        .header-contacts__btn:hover {
          cursor: pointer;
          color: #ffffff;
          background-color: #003073; } }
      @media (max-width: 1370px) {
        .header-contacts__btn {
          width: 250px; } }
    .header-contacts_mobile {
      display: none;
      z-index: 11; }
      @media (max-width: 991px) {
        .header-contacts_mobile {
          display: block; } }
      @media (max-width: 767px) {
        .header-contacts_mobile {
          width: 21px; } }
  .header_inner {
    padding-top: 24px;
    padding-bottom: 24px;
    position: static;
    color: #003073;
    background-image: none;
    background-color: #ffffff; }
    .header_inner .phone_light {
      display: none; }
    .header_inner .phone_dark {
      display: block; }
    .header_inner .logo_light {
      display: none; }
    .header_inner .logo_dark {
      display: block; }
    .header_inner .header-menu__item {
      color: #003073; }
      @media (min-width: 992px) {
        .header_inner .header-menu__item:hover {
          color: #ffffff;
          background-color: #003073; } }
    .header_inner .header-menu_mobile span, .header_inner .header-menu_mobile::after, .header_inner .header-menu_mobile::before {
      background-color: #003073; }
    .header_inner .header-contacts__phone {
      color: #003073; }
      @media (min-width: 992px) {
        .header_inner .header-contacts__phone:hover {
          color: #ffffff;
          background-color: #003073; } }
    .header_inner .header-contacts__btn {
      color: #ffffff;
      background-color: #003073;
      border-color: #003073; }
      @media (min-width: 992px) {
        .header_inner .header-contacts__btn:hover {
          color: #003073;
          background-color: #ffffff; } }
  .header_active-burger {
    background: #003073; }
    .header_active-burger .header-menu_mobile {
      position: relative; }
      .header_active-burger .header-menu_mobile span {
        background: transparent; }
      .header_active-burger .header-menu_mobile::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 40%;
        left: 0;
        background-color: #ffffff; }
      .header_active-burger .header-menu_mobile::before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 40%;
        left: 0;
        background-color: #ffffff; }
    .header_active-burger.header_inner .logo_light {
      display: block; }
    .header_active-burger.header_inner .logo_dark {
      display: none; }
    .header_active-burger.header_inner .phone_light {
      display: block; }
    .header_active-burger.header_inner .phone_dark {
      display: none; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1500px; } }

.logo {
  z-index: 11; }
  @media (max-width: 1370px) {
    .logo {
      max-width: 250px; } }
  @media (max-width: 1024px) {
    .logo {
      max-width: none; } }
  @media (max-width: 543px) {
    .logo {
      max-width: 200px; } }

.cap-slider__wrap {
  overflow: hidden;
  position: relative;
  height: 100%; }

.cap-slider__item {
  padding-top: 150px;
  padding-left: 30px;
  overflow: hidden;
  height: 100vh !important;
  font-family: Ubuntu;
  font-weight: 700;
  background-size: cover;
  background-position: center bottom; }
  .cap-slider__item .container {
    height: 80%; }

.cap-slider__next {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.cap-slider__content {
  max-width: 1199px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6); }

.cap-slider__title {
  margin-bottom: 60px;
  color: #232323;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px; }

.cap-slider__btn {
  width: 184px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-family: "GothaProMed", sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  background-color: #003073; }
  .cap-slider__btn img {
    margin-right: 14px; }
  @media (min-width: 992px) {
    .cap-slider__btn:hover {
      cursor: pointer;
      color: #003073;
      background-color: #ffffff; } }

.cap-shop {
  color: #fefefe;
  line-height: 22px; }
  @media (min-width: 992px) {
    .cap-shop:hover {
      cursor: pointer; } }
  .cap-shops {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%; }
    .cap-shops__item {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .cap-shop__title {
    font-family: "GothaProBol", sans-serif;
    font-size: 16px;
    text-decoration: underline; }
  .cap-shop__info {
    max-height: 1px;
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "GothaProReg", sans-serif;
    font-size: 14px;
    -webkit-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out; }
    .cap-shop__info span {
      display: block; }
    .cap-shop__info a {
      display: block;
      color: #fefefe; }
      @media (min-width: 992px) {
        .cap-shop__info a:hover {
          color: #003073; } }
  .cap-shop.active .cap-shop__info {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 1000ms ease-in-out;
    transition: all 1000ms ease-in-out; }
